* {
    box-sizing:border-box;
}

body{
    margin:1.5rem;
}

#search-section{
    padding-bottom:2rem;
    border-bottom:1px solid black;
}

#current-weather-container{
    border:solid black 1px;
    padding:.5rem;
}

#current-weather-container > h3 {
    margin-top:-20px;
}